<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="storage/bootstrap/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="true"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="poppy">
            <directory>./poppy/framework/tests/</directory>
            <directory>./poppy/system/tests/</directory>
            <directory>./poppy/sms/tests/</directory>
            <directory>./poppy/mgr-page/tests/</directory>
            <directory>./poppy/ext-pinyin/tests/</directory>
            <directory>./poppy/ext-netease/tests/</directory>
            <directory>./poppy/ext-ip_store/tests/</directory>
            <directory>./poppy/ext-alipay/tests/</directory>
            <directory>./poppy/core/tests/</directory>
            <directory>./poppy/area/tests/</directory>
            <directory>./poppy/aliyun-push/tests/</directory>
            <directory>./poppy/aliyun-oss/tests/</directory>
        </testsuite>
        <testsuite name="config">
            <directory>./poppy/system/tests/Configuration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">poppy/framework/src</directory>
        </whitelist>
    </filter>
    <!-- 2020-10-13 : 隐藏单元覆盖率(加速测试)
    <logging>
        <log type="coverage-html" target="./public/docs/coverage" lowUpperBound="35"
            highLowerBound="70"/>
    </logging>
    -->
    <php>
        <env name="APP_ENV" value="testing"/>
        <!--		<env name="CACHE_DRIVER" value="array"/>-->
        <!--		<env name="SESSION_DRIVER" value="array"/>-->
        <env name="QUEUE_DRIVER" value="database"/>
    </php>
</phpunit>
