@charset "UTF-8";
@import '../variables';

/*
|--------------------------------------------------------------------------
| 公共样式文件
|--------------------------------------------------------------------------
|
| 基本定义
| 公共样式定义使用 `wuli`前缀
*/
html {
	font-size : 14px;
}

body {
	font-family : "wryh", "微软雅黑", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size   : 1rem;
	line-height : 22px;
	background  : #f0f2f5;
}

// fix media query
@media (max-width : 768px) {
	.form-horizontal .control-label {
		text-align    : right;
		margin-bottom : 0;
		padding-top   : 7px;
	}
}

/* 导航栏
 * ---------------------------------------- */
.wuli--navbar {
	box-shadow : 0 1px 1px 0 rgba(0, 0, 0, .1);
	transition : all 0.5s;
	background : #fff;
	.navbar-brand {
		img {
			height : 38px;
		}
	}
	.navbar-nav {
		.nav-item.active {
			a {
				color : darken($blue, 10);
			}
		}
	}
	.navbar-collapse.show, .navbar-collapse.collapsing {
		background    : #fff;
		border        : 1px solid #ccc;
		border-radius : 2px;
		margin-top    : 8px;
		text-align    : center;
		z-index       : 2;
	}
}

/* 登录
 * ---------------------------------------- */
.wuli--login {
	.login-box {
		margin : 2rem 0;
	}
	.login-logo {
		text-align : center;
		img {
			width          : 4rem;
			padding-bottom : 2rem;
		}
	}
}

/* box
 * ---------------------------------------- */
.wuli--box {
	margin-top : 1rem;
	padding    : 0 12px 12px;
	border     : 1px solid #e4e4e4;
	background : #ffffff;
	&.box-header_primary {
		border-top : 2px solid $color-primary;
	}
	&.box-header_secondary {
		border-top : 2px solid $color-secondary;
	}
	&.box-header_lighten {
		border-top : 2px solid $color-lighten;
	}
	&.box-dialog {
		border     : none;
		margin-top : 0;
	}
	h3 {
		height        : 3rem;
		line-height   : 3rem;
		padding       : 0 1rem;
		font-size     : 1rem;
		font-weight   : normal;
		border-bottom : 1px solid rgba(242, 242, 242, 1);
		margin        : 0;
	}
	> div {
		line-height : 22px;
		margin-top  : 13px;
		&.box-content {
			color : #999999;
		}

	}
	.box-links {
		.box-links_group {
			padding : 0 1rem;
			h4 {
				line-height : 22px;
				margin      : 0 0 .5em;
				font-size   : 0.95rem;
				font-weight : normal;
				cursor      : pointer;
				color       : lighten($color-dark, 10);
			}
		}
		.box-links_items {
			padding-bottom : 0.5rem;
			a {
				display         : block;
				line-height     : 1.8rem;
				color           : $color-lighten;
				text-decoration : none;
				padding-left    : 0.5rem;
				&:hover {
					color : $color-primary;
				}
				&.active {
					background : lighten($color-lighten, 45);
				}
			}
		}
	}
}


/* bootstrap dropdown menu
 * ---------------------------------------- */
.dropdown:hover > .dropdown-menu {
	display : block;
}

.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events : none;
}

.sour--nav {
	.layui-nav-item {
		line-height : 50px;
	}
	border-radius : 0;
}

.wuli--dialog {
	padding    : 1rem;
	background : #fff;
}

/* footer
 * ---------------------------------------- */
.wuli--footer {
	height      : 50px;
	line-height : 50px;
	text-align  : center;
	background  : #ffffff;
	color       : #999999;
	font-size   : 12px;
	width       : 100%;
	margin-top  : 20px;
	display     : block;
	a {
		color      : #379856;
		text-align : right;
		padding    : 0 5px;
	}
}

.sour--my_title {
	border     : 1px solid #cccccc;;
	background : #f2f2f2;
	padding    : 10px;
	.btn {
		.iconfont {
			font-size : 12px;
		}
	}
	h3 {
		font-weight : normal;
		height      : 30px;
		line-height : 30px;
		font-size   : 14px;
		margin      : 0;
		color       : #000000;
		small {
			font-size    : 12px;
			padding-left : 1em;
			color        : #cccccc;
		}
		em {
			padding-left : 4px;
			color        : #cccccc;
			font-weight  : normal;
			font-style   : normal;
		}
	}
}

/* 背景
 * ---------------------------------------- */
.bg-white {
	background : #ffffff;
}