.url--home {
	.home-infinite {
		border     : 1px solid #e4e4e4;
		margin-top : 15px;
		background : #ffffff;
	}
	.home-display_head {
		border-bottom : 1px solid #e4e4e4;
		margin        : 0 15px 0;
		font-size     : 14px;
		h3 {
			color       : #333333;
			height      : 44px;
			line-height : 44px;
			font-size   : 16px;
			font-weight : normal;
			margin      : 0;
			float       : left;
			width       : 33%;
		}
		form {
			padding-top    : 8px;
			padding-bottom : 8px;
			input {
				background : #f2f2f2;
			}
		}
	}
	.home-display_content {
		padding   : 0;
		color     : #acaaad;
		font-size : 12px;
		.display_content-links {
			position : absolute;
			bottom   : 0;
			right    : 0;
			width    : 100%;
			a {
				&:hover {
					color : $color-green;
				}
			}
		}
		ul {
			overflow : hidden;
			margin   : 0;
			padding  : 0;
		}
		.display_content-ctr {
			padding       : 12px 15px 12px;
			position      : relative;
			margin-bottom : 0;
			border-bottom : 1px solid #f2f2f2;
			display       : block;
			&:hover {
				background : #f5f6f7;
				.display_content-handle {
					visibility : visible;
					opacity    : 1;
				}
			}
		}
		h4 {
			color     : #000000;
			font-size : 14px;
			margin    : 0 6px 0 0;
		}
		.display_content-image {
			img {
				width  : 80px;
				height : 80px;
			}
		}
		.display_content-title {
			color     : #3e3e3e;
			font-size : 16px;
		}
		.display_content-desc {
			line-height   : 22px;
			height        : 24px;
			margin-bottom : 0;
			padding-top   : 5px;
			font-size     : 12px;
			color         : #cccccc;
			overflow      : hidden;
		}
		.display_content-handle {
			position   : absolute;
			background : transparent;
			top        : 8px;
			right      : 10px;
			visibility : hidden;
			opacity    : 0;
			transition : all .5s ease;
		}
		.display_content-tag {
			margin-bottom : 0;
			a {
				color        : #999999;
				padding      : 3px 5px 5px 0;
				margin-right : 8px;
				display      : inline-block;
			}
		}
		.display_content-top {
			margin-top    : 2px;
			margin-bottom : 5px;
			p {
				margin-bottom : 0;
			}
		}
	}
	.home-empty_content {
		text-align : center;
		padding    : 25px;
		font-size  : 16px;
		background : #ffffff;
	}

	.home-labels {
		a {
			color           : $color-dark;
			padding         : 3px 8px;
			white-space     : nowrap;
			display         : inline-block;
			margin-bottom   : 1px;
			text-decoration : none;
			&:hover {
				background : #f0f0f0;
			}
		}
	}
}