:root {
  --prod-bg: #F9FAFE;
}
.container {
  width: 1180px !important;
  max-width: 1180px !important;
}
.x--header {
  color: #212529;
  padding-top: 64px;
  height: 504px;
}
.x--header.header-about {
  position: relative;
  height: 426px;
  background: #eeeeee url("/app/images/base/bg-about.png") top center no-repeat;
}
.x--header .header-intro {
  display: flex;
}
.x--header .header-intro h2 {
  margin-bottom: 20px;
}
.x--header .header-intro img {
  max-width: 440px;
}
.x--header .header-intro p {
  line-height: 1.8;
}
.x--header .header-left {
  flex: 1;
  width: 40%;
  height: 440px;
}
.x--header .header-right {
  flex: 1;
  width: 40%;
}
.x--header .header-about-detail > div {
  height: 362px;
  color: #fff;
}
.x--header .header-about-detail h2 {
  text-align: center;
  font-size: 60px;
  margin-top: -35px;
  margin-bottom: 1rem;
}
.x--header .header-about-detail p {
  font-size: 24px;
}
.x--header .header-about-menu {
  background: rgba(255, 255, 255, 0.15);
  height: 50px;
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}
.x--header .header-about-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  transition: all 0.3s;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 2rem;
}
.x--header .header-about-menu a.active {
  border-bottom: 3px solid #2468F2;
}
.x--header .header-about-menu a:hover {
  color: #E5E8F1;
}
.x--nav {
  height: 64px;
  line-height: 64px;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 1;
  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.x--nav .nav-item a {
  color: #212529;
}
.x--nav .nav-cp .btn-link {
  color: #212529;
}
.x--nav .navbar-brand {
  background: url("/app/images/logo.png") center center no-repeat;
  display: inline-block;
  height: 44px;
  width: 44px;
  background-size: 70%;
}
.x--nav .navbar-nav .nav-link {
  padding: 0 0.8rem 0;
}
.x--nav .nav-link {
  color: #fff;
  font-size: 14px;
}
.x--nav .nav-link.active {
  border-bottom: 1px solid #2468F2;
}
.x--block {
  padding-bottom: 60px;
}
.x--block.block-light {
  background: var(--prod-bg);
}
.x--block.block-dark {
  background: #EAEDF5;
}
.x--block.block-reverse .block-title {
  color: #fff;
}
.x--block .block-title {
  font-size: 28px;
  font-weight: bold;
  padding-top: 50px;
  margin: 0 0 60px;
  text-align: center;
}
.x--block .block-title.with-desc {
  margin-bottom: 10px;
}
.x--block .block-desc {
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
}
.x--block .block-sub-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.x--block .block-sub-wrapper .block-sub-content {
  width: 50%;
  padding: 15px 20px;
}
.x--block .block-sub-wrapper .block-sub-image {
  padding: 15px 20px;
  max-width: 50%;
}
.x--block .block-sub-left,
.x--block .block-sub-right {
  border-bottom: 5px solid var(--prod-bg);
  background: #fff;
  width: 85%;
}
.x--block .block-sub-left img,
.x--block .block-sub-right img {
  max-width: 80%;
}
.x--block .block-sub-left h3,
.x--block .block-sub-right h3 {
  font-size: 20px;
  line-height: 2rem;
}
.x--block .block-sub-left h4,
.x--block .block-sub-right h4 {
  font-size: 18px;
  line-height: 1.8rem;
}
.x--block .block-sub-left p,
.x--block .block-sub-right p {
  font-size: 14px;
}
.x--footer {
  height: 170px;
  text-align: center;
  font-size: 12px;
  background: #2E3341;
  color: #d1d8e4;
  line-height: 28px;
}
.x--prod a {
  text-decoration: none;
  transition: all 0.3s;
}
.x--prod .prod-good-fer {
  background: #F9FAFE;
}
.x--prod .prod-good-fer .fer-wrapper {
  padding: 50px 0;
  display: flex;
}
.x--prod .prod-good-fer .fer-wrapper > div {
  opacity: 0;
}
.x--prod .prod-good-fer .fer-x {
  height: 125px;
}
.x--prod .prod-good-fer .fer-2x {
  height: 132px;
}
.x--prod .prod-good-fer .fer-3x {
  height: 194px;
}
.x--prod .prod-good-fer .fer-cat {
  color: #fff;
  width: 102px;
  font-size: 22px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.x--prod .prod-good-fer .fer-cat .fer-pad {
  height: 40px;
  background: transparent;
  box-shadow: none;
}
.x--prod .prod-good-fer .fer-cat .fer-pad + .fer-x {
  height: 84px;
}
.x--prod .prod-good-fer .fer-cat .fer-x:last-child {
  height: 84px;
}
.x--prod .prod-good-fer .fer-cat span {
  box-sizing: content-box;
  border-bottom: 1px solid #E5E8EF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  background: #2468F2;
  box-shadow: 20px 0 15px 0 rgba(36, 104, 242, 0.3);
}
.x--prod .prod-good-fer .fer-cat span:last-child {
  border-bottom: none;
}
.x--prod .prod-good-fer .fer-sub {
  background: #FBFBFB;
  flex: auto;
  z-index: 1;
}
.x--prod .prod-good-fer .fer-sub .fer-sub-wrapper {
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.1);
}
.x--prod .prod-good-fer .fer-sub .fer-sub-wrapper .fer-x {
  height: 104px;
  line-height: 104px;
}
.x--prod .prod-good-fer .fer-sub .fer-pad {
  height: 20px;
  border-bottom: 1px solid transparent;
}
.x--prod .prod-good-fer .fer-sub span {
  display: block;
  box-sizing: content-box;
  border-bottom: 1px solid #E5E8EF;
  text-align: center;
  padding-left: 18px;
  line-height: 66px;
  font-size: 22px;
}
.x--prod .prod-good-fer .fer-sub span:last-child {
  border-bottom: none;
}
.x--prod .prod-good-fer .fer-detail {
  flex: auto;
  background: #fff;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.x--prod .prod-good-fer .fer-detail > div {
  box-sizing: content-box;
  border-bottom: 1px solid #E5E8EF;
  overflow: hidden;
}
.x--prod .prod-good-fer .fer-detail > div:last-child {
  border-bottom: none;
}
.x--prod .prod-good-fer .fer-detail > div p:last-child {
  border-bottom: none;
}
.x--prod .prod-good-fer .fer-detail .fer-x {
  line-height: 124px;
  font-size: 22px;
  color: #1C5EE4;
  font-weight: lighter;
  text-align: center;
}
.x--prod .prod-good-fer .fer-detail .fer-x:last-child {
  color: #191A24;
}
.x--prod .prod-good-fer .fer-detail .fer-x:last-child p {
  line-height: 104px;
  height: 104px;
}
.x--prod .prod-good-fer .fer-detail p {
  font-weight: lighter;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #E5E8EF;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}
.x--prod .prod-good {
  height: 238px;
  box-sizing: border-box;
  color: #191A24;
}
.x--prod .prod-good .d-flex {
  background: #fff;
  padding: 20px 30px;
  box-sizing: border-box;
  min-height: 200px;
  transition: box-shadow 0.3s;
}
.x--prod .prod-good .d-flex:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.x--prod .prod-good .d-flex h5 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.x--prod .prod-good .d-flex p {
  font-size: 18px;
}
.x--prod .prod-good .d-flex img {
  margin-top: 35px;
  max-width: 100%;
  height: auto;
  margin-right: 30px;
}
.x--prod .prod-feat {
  background-image: url("/app/images/prod/bg-advantage.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.x--prod .prod-feat-item {
  padding: 12px;
  text-align: center;
  background: #fff;
  min-height: 375px;
  transition: all 0.3s;
}
.x--prod .prod-feat-item i {
  display: inline-block;
  margin-top: 40px;
  font-size: 64px;
  color: #D1D8E4;
}
.x--prod .prod-feat-item h5 {
  font-size: 22px;
  font-weight: 600;
  color: #191A24;
  margin: 32px 0 0 12px;
}
.x--prod .prod-feat-item p {
  color: #596178;
  margin-top: 12px;
  text-align: left;
  line-height: 25px;
  font-size: 18px;
}
.x--prod .prod-feat-item:hover {
  background: #2468F2;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.x--prod .prod-feat-item:hover i {
  color: #fff;
}
.x--prod .prod-feat-item:hover h5,
.x--prod .prod-feat-item:hover p {
  color: #fff;
}
.x--prod .prod-price-ask {
  text-align: center;
  padding-top: 60px;
}
.x--prod .prod-spec {
  padding-bottom: 40px;
}
.x--prod .prod-spec .prod-spec-item {
  background: #fff;
  transition: box-shadow 0.3s;
}
.x--prod .prod-spec .prod-spec-item.item-hot img {
  display: block;
}
.x--prod .prod-spec .prod-spec-item:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.x--prod .prod-spec .prod-spec-item:hover p span {
  display: none;
}
.x--prod .prod-spec .prod-spec-item:hover p a {
  display: inline-block;
}
.x--prod .prod-spec .prod-spec-item h5 {
  height: 85px;
  line-height: 85px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #191A24;
  text-align: center;
  border-bottom: 1px solid #EAEDF5;
}
.x--prod .prod-spec .prod-spec-item h5 img {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.x--prod .prod-spec .prod-spec-item > div {
  padding: 20px;
}
.x--prod .prod-spec .prod-spec-item > div strong,
.x--prod .prod-spec .prod-spec-item > div span {
  display: block;
  text-align: center;
  line-height: 35px;
}
.x--prod .prod-spec .prod-spec-item > div strong {
  color: #596178;
  font-size: 18px;
  font-weight: normal;
}
.x--prod .prod-spec .prod-spec-item > div span {
  font-size: 14px;
  color: #E5E8F1;
}
.x--prod .prod-spec .prod-spec-item > div p {
  padding-top: 20px;
  height: 60px;
  margin: 0.5rem 0;
  text-align: center;
}
.x--prod .prod-spec .prod-spec-item > div p span {
  color: #596178;
  font-size: 20px;
}
.x--prod .prod-spec .prod-spec-item > div p em {
  font-style: normal;
  color: #FB5228;
  font-size: 24px;
}
.x--prod .prod-spec .prod-spec-item > div p a {
  display: none;
}
.x--prod .prod-spec .spec-more {
  height: 100px;
  font-size: 28px;
  line-height: 100px;
  text-align: center;
}
.x--prod .prod-spec .spec-more .iconfont {
  font-size: 26px !important;
}
.x--prod .prod-service table {
  width: 100%;
  border: 1px solid #EAEDF5;
}
.x--prod .prod-service table th {
  height: 50px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #2468F2;
}
.x--prod .prod-service table td {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #596178;
  border-bottom: 1px solid #EAEDF5;
  text-align: center;
}
.x--intro .intro-wrapper {
  padding: 40px 0 20px 0;
}
.x--intro .intro-container {
  background: #fff;
  padding: 40px 40px 115px;
}
.x--intro .intro-company {
  display: flex;
}
.x--intro .intro-company > div {
  flex: 1;
}
.x--intro .intro-company h3 {
  font-size: 28px;
  font-weight: 500;
  padding-top: 20px;
  border-bottom: 2px solid #191A24;
  color: #191A24;
  line-height: 35px;
  margin-bottom: 30px;
  display: inline-block;
}
.x--intro .intro-company p {
  color: #596178;
  font-size: 14px;
  line-height: 24px;
  margin: 1.5rem 0;
  text-indent: 2em;
}
.x--intro .intro-contact {
  display: flex;
}
.x--intro .intro-contact > div,
.x--intro .intro-contact > ul {
  flex: 1;
}
.x--intro .intro-contact > div {
  text-align: right;
  padding-top: 20px;
}
.x--intro .intro-contact ul {
  padding: 0 15px;
}
.x--intro .intro-contact ul li {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #E5E8F1;
}
.x--intro .intro-contact ul li:first-child {
  border-top: 1px solid #E5E8F1;
}
.x--intro .intro-contact ul li i {
  color: #2468F2;
  font-size: 34px;
  height: auto;
  margin: 30px 35px;
}
.x--intro .intro-contact ul li h3 {
  margin-top: 20px;
  font-size: 16px;
  color: #596178;
  font-weight: normal;
}
.x--intro .intro-contact ul li p {
  color: #2468F2;
  font-size: 22px;
  line-height: 44px;
  margin-bottom: 0.5rem;
}
.x--intro .intro-contact .contact-position {
  position: relative;
}
.x--intro .intro-contact .contact-position #map {
  position: absolute;
  right: 0;
  top: 0;
  width: 445px;
  height: 445px;
}
.x--intro .intro-priv h3 {
  font-size: 22px;
  color: #191A24;
  border-bottom: 1px solid #191A24;
  display: inline-block;
}
.x--intro .intro-priv p {
  font-size: 14px;
  color: #596178;
  line-height: 1.8;
}
.x--intro .intro-priv h3 + p,
.x--intro .intro-priv p + h3 {
  margin-top: 1rem;
}
.x--intro .intro-priv h4 + p,
.x--intro .intro-priv p + h4 {
  margin-top: 1rem;
}
.x--intro .intro-priv h4 {
  font-size: 16px;
}

