.essay--detail {
	.detail-title {
		color           : #333;
		text-decoration : none;
		font-size       : 30px;
		line-height     : 42px;
		margin-top      : 15px;
		margin-bottom   : 20px;
		font-family     : -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
	}

	/*
	|--------------------------------------------------------------------------
	| Mweb 可用的 基于 Laravel-china 的样式
	|--------------------------------------------------------------------------
	|
	| Author : Mark (zhaody901@126.com)
	|
	*/
	.detail-markdown_body {
		font-family              : NotoSansHans-Regular, AvenirNext-Regular, arial, Hiragino Sans GB, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
		font-size                : 15px;
		-ms-text-size-adjust     : 100%;
		-webkit-text-size-adjust : 100%;
		color                    : #555;
		overflow                 : hidden;
		line-height              : 1.6;
		word-wrap                : break-word;
		padding                  : 0.8em 1.2em;
		position                 : relative;
		a {
			background      : transparent;
			color           : $blue;
			text-decoration : none;
			&:active, &:hover {
				outline : 0;
				color   : #22ddde;
			}
		}
		ol li {
			margin : 8px 0;
		}
		pre[class*=language-] {
			margin : 1.2em 0 !important;
		}
		strong {
			font-weight : 700;
		}
		h1 {
			margin         : .67em 0;
			font-size      : 30px;
			padding-bottom : .3em;
			line-height    : 1.2;
			border-bottom  : 2px solid #eee;
		}
		img {
			border          : 0;
			max-width       : 100%;
			-moz-box-sizing : border-box;
			box-sizing      : border-box;
		}
		hr {
			-moz-box-sizing  : content-box;
			box-sizing       : content-box;
			margin           : 15px 0;
			overflow         : hidden;
			border           : 0;
			border-bottom    : 1px solid #ddd;
			height           : 4px;
			padding          : 0;
			background-color : #e7e7e7;
		}
		table {
			border-collapse : collapse;
			border-spacing  : 0;
			display         : block;
			width           : 100%;
			overflow        : auto;
			margin          : 25px 0;
		}
		td, th {
			padding : 0;
		}
		* {
			-moz-box-sizing : border-box;
			box-sizing      : border-box;
		}
		a {
			&:hover, &:focus, &:active {
				text-decoration : none;
			}
		}
		hr {
			&:before {
				display : table;
				content : " ";
			}
			&:after {
				display : table;
				content : " ";
				clear   : both;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			position      : relative;
			margin-top    : 1em;
			margin-bottom : 1em;
			font-weight   : 700;
			line-height   : 1.4;
		}
		h2 {
			padding-bottom : .3em;
			font-size      : 21px;
			line-height    : 1.225;
			border-bottom  : 2px solid #eee;
		}
		h3 {
			font-size   : 16px;
			line-height : 1.43;
		}
		h4 {
			font-size : 14px;
		}
		h5 {
			font-size : 12px;
		}
		h6 {
			font-size : 11px;
			color     : #777;
		}
		blockquote {
			font-size        : inherit;
			color            : #777;
			border-left      : 4px solid #ddd;
			margin           : 15px 0 !important;
			background-color : #f7f7f7;
			padding          : 6px 8px 6px 12px;
		}
		ul {
			margin-top    : 0;
			margin-bottom : 0;
			padding-left  : 2em;
		}
		ol {
			margin-top    : 0;
			margin-bottom : 0;
			padding-left  : 2em;
			ol {
				list-style-type : lower-roman;
			}
		}
		dd {
			margin-left : 0;
		}
		code, pre {
			font-family   : monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
			font-size     : 13px;
			margin-top    : 0;
			margin-bottom : 0;
			overflow      : auto;
			background    : rgba(249, 248, 247, 0.53);
			border        : 1px solid #efefef;
			border-radius : 0;
		}
		.markdown-body > {
			:first-child {
				margin-top : 0 !important;
			}
			:last-child {
				margin-bottom : 0 !important;
			}
		}
		.anchor {
			position      : absolute;
			top           : 0;
			bottom        : 0;
			left          : 0;
			display       : block;
			padding-right : 6px;
			padding-left  : 30px;
			margin-left   : -30px;
			&:focus {
				outline : none;
			}
		}
		p, blockquote, ul, ol, dl, table, pre {
			margin-top    : 0;
			margin-bottom : 12px;
		}
		ol {
			ol, ul {
				margin-top    : 0;
				margin-bottom : 0;
			}
		}
		li > p {
			margin-top : 16px;
		}
		dl {
			padding : 0;
			dt {
				padding     : 0;
				margin-top  : 16px;
				font-size   : 1em;
				font-style  : italic;
				font-weight : 700;
			}
			dd {
				padding       : 0 16px;
				margin-bottom : 16px;
			}
		}
		blockquote > {
			:first-child {
				margin-top : 12px;
			}
			:last-child {
				margin-bottom : 12px;
			}
		}
		table {
			th {
				font-weight : 700;
				padding     : 6px 13px;
				border      : 1px solid #ddd;
			}
			td {
				padding : 6px 13px;
				border  : 1px solid #ddd;
			}
			tr {
				background-color : #fff;
				border-top       : 1px solid #ccc;
				&:nth-child(2n) {
					background-color : #f8f8f8;
				}
			}
		}
		img:not(.emoji) {
			border             : 1px solid #ddd;
			box-shadow         : 0 0 30px #ccc;
			-moz-box-shadow    : 0 0 30px #ccc;
			-webkit-box-shadow : 0 0 30px #ccc;
			margin-bottom      : 30px;
			margin-top         : 10px;
		}
		code {
			margin           : 5px;
			color            : #858080;
			border-radius    : 4px;
			background-color : #f9fafa;
			border           : 1px solid #e4e4e4;
			max-width        : 740px;
			overflow-x       : auto;
			font-size        : .9em;
			padding          : 1px 2px;
			&:before, &:after {
				letter-spacing : -.2em;
				content        : " ";
			}
		}
		pre > code {
			padding     : 0;
			margin      : 0;
			font-size   : 13px;
			white-space : pre;
			background  : transparent;
			border      : 0;
			color       : #E6E8D3;
		}
		p > code {
			margin-left : 0;
		}
		.highlight {
			margin-bottom : 16px;
			background    : #fff;
			pre {
				padding         : 0.5em;
				font-size       : 1.15em;
				color           : #2d2d2d;
				background      : none;
				font-family     : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
				text-align      : left;
				white-space     : pre;
				word-spacing    : normal;
				word-break      : normal;
				word-wrap       : normal;
				line-height     : 1.15;
				-moz-tab-size   : 4;
				tab-size        : 4;
				-webkit-hyphens : none;
				-ms-hyphens     : none;
				hyphens         : none;
				margin          : 0.6em 0 !important;
				overflow        : auto;
				background      : rgba(249, 248, 247, 0.53);
				border          : 1px solid #efefef;
				border-radius   : 0;
			}
		}
		pre {
			padding         : 0.5em;
			font-size       : 1.15em;
			color           : #2d2d2d;
			background      : none;
			font-family     : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
			text-align      : left;
			white-space     : pre;
			word-spacing    : normal;
			word-break      : normal;
			word-wrap       : normal;
			line-height     : 1.15;
			-moz-tab-size   : 4;
			tab-size        : 4;
			-webkit-hyphens : none;
			-ms-hyphens     : none;
			hyphens         : none;
			margin          : 0.6em 0 !important;
			overflow        : auto;
			background      : rgba(249, 248, 247, 0.53);
			border          : 1px solid #efefef;
			border-radius   : 0;
		}
		.highlight pre {
			margin-bottom : 0;
		}
		pre {
			word-wrap : normal;
			code {
				color            : #2d2d2d;
				display          : inline;
				max-width        : initial;
				padding          : 0;
				margin           : 0;
				overflow         : initial;
				line-height      : 1.5;
				word-wrap        : normal;
				background-color : transparent;
				border           : 0;
				&:before, &:after {
					content : normal;
				}
			}
		}
		> h2:first-child {
			margin-top : 0.4em;
		}
		.hljs {
			display                  : block;
			overflow-x               : auto;
			padding                  : 4px;
			color                    : #657b83;
			-webkit-text-size-adjust : none;
		}
		.hljs-comment, .diff .hljs-header, .hljs-doctype, .hljs-pi, .lisp .hljs-string {
			color : #93a1a1;
		}
		.hljs-keyword, .hljs-winutils, .method, .hljs-addition, .css .hljs-tag, .hljs-request, .hljs-status, .nginx .hljs-title {
			color : #859900;
		}
		.hljs-number, .hljs-command, .hljs-string, .hljs-tag .hljs-value, .hljs-rule .hljs-value, .hljs-doctag, .tex .hljs-formula, .hljs-regexp, .hljs-hexcolor, .hljs-link_url {
			color : #2aa198;
		}
		.hljs-title, .hljs-localvars, .hljs-chunk, .hljs-decorator, .hljs-built_in, .hljs-identifier, .vhdl .hljs-literal, .hljs-id, .css .hljs-function, .hljs-name {
			color : #268bd2;
		}
		.hljs-attribute, .hljs-variable, .lisp .hljs-body, .smalltalk .hljs-number, .hljs-constant, .hljs-class .hljs-title, .hljs-parent, .hljs-type, .hljs-link_reference {
			color : #b58900;
		}
		.hljs-preprocessor {
			color : #cb4b16;
			.hljs-keyword {
				color : #cb4b16;
			}
		}
		.hljs-pragma, .hljs-shebang {
			color : #cb4b16;
		}
		.hljs-symbol {
			color : #cb4b16;
			.hljs-string {
				color : #cb4b16;
			}
		}
		.diff .hljs-change, .hljs-special, .hljs-attr_selector, .hljs-subst, .hljs-cdata, .css .hljs-pseudo, .hljs-header {
			color : #cb4b16;
		}
		.hljs-deletion, .hljs-important {
			color : #dc322f;
		}
		.hljs-link_label {
			color : #6c71c4;
		}
		.hljs-formula {
			background : #eee8d5;
		}
	}

	.detail-scroll_spy {
		display     : block;
		position    : sticky;
		top         : 0;
		border-left : 1px solid #eee;
		.panel-heading {
			background-color : #fff;
			font-weight      : bold;
			border           : none;
			cursor           : pointer;
			padding          : 8px 12px;
			font-size        : 16px;
			color            : #333;
		}
		.panel-body {
			position   : relative;
			z-index    : 2;
			overflow   : hidden;
			max-height : inherit;
			padding    : 0 0 10px;
		}
		li {
			display : block;
			width   : 100%;
		}
		a {
			display : block;
			padding : 3px 0;
			color   : #333;
			&.active {
				color : $blue;
			}
		}
		.side-lv1 {
			padding-left : 0;
		}
		.side-lv2 {
			padding-left : 10px;
		}
		.side-lv3 {
			padding-left : 20px;
		}
		.side-lv4 {
			padding-left : 30px;
		}
		.side-lv5 {
			padding-left : 40px;
		}
		.side-lv6 {
			padding-left : 41px;
		}
	}
}