/*
|--------------------------------------------------------------------------
| 颜色
|--------------------------------------------------------------------------
|
*/
$color-dark      : #333333;
$color-primary   : #4c73ed;
$color-secondary : #383d41;
$color-lighten   : #818182;
$color-link      : #4c73ed;

$light-grey      : #eeeeee; // 淡灰色 : 边框颜色, 取自 vue
$purple          : #985cbe; // 标准紫色
$light-purple    : lighten($purple, 10%);
$dark-purple     : darken($purple, 10%);
$black           : #333333;
$dark-black      : darken($black, 10%);
$light-black     : lighten($black, 10%);
$color-green     : #62cb31;
$color-dark      : #455463;

$sour-image      : '/project/sour/css_images/';

/*
|--------------------------------------------------------------------------
| Bootstrap framework color
|--------------------------------------------------------------------------
|
*/
$blue            : $color-primary;